@page
@model Meta.Desafio.CRUD.Pages.Station.IndexModel

@{
    ViewData["Title"] = "Emissoras";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Emissoras</h1>

<p>
    <a asp-page="Create">Cria Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Station[0].Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Station) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edita</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Exclui</a>
            </td>
        </tr>
}
    </tbody>
</table>