@page
@model Meta.Desafio.CRUD.Pages.Audience.DetailsModel

@{
   ViewData["Title"] = "Detalhes";
   Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
   <h4>AudiÊncia</h4>
   <hr />
   <dl class="row">
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Audience.Emissora_Nome)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Audience.Emissora_Nome)
      </dd>
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Audience.Data_Hora_Audiencia)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Audience.Data_Hora_Audiencia)
      </dd>
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Audience.Pontos_Audiencia)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Audience.Pontos_Audiencia)
      </dd>
   </dl>
</div>
<div>
   <a asp-page="./Edit" asp-route-id="@Model.Audience.Id">Editar</a> |
   <a asp-page="./Index">Volta para lista</a>
</div>